<a href="https://colab.research.google.com/github/19PA1A0553/PYTHON-BASICS/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
a=pd.Series([1,2,3,4],index=['aa','bb','cc','dd'])
print(a)

aa    1
bb    2
cc    3
dd    4
dtype: int64

In [19]:
import pandas as pd
df=pd.DataFrame([['cse','ram',1],['cse','syam',2],['cse','har',2]],columns=['branch','name','roll n.o'])
df['sizes']=pd.Series([1,2,3])
print(df)

  branch  name  roll n.o  sizes
0    cse   ram         1      1
1    cse  syam         2      2
2    cse   har         2      3

In [22]:
import pandas as pd
df=pd.DataFrame([[1,2,3,],[1,2,3],[1,2,3]],columns=['chem','math','scie'])
print(df)
del df["chem"]
print(df)
print(df[0:2])

   chem  math  scie
0     1     2     3
1     1     2     3
2     1     2     3
   math  scie
0     2     3
1     2     3
2     2     3
   math  scie
0     2     3
1     2     3

In [25]:
import pandas as pd
df=pd.DataFrame({"roll no":["cse501","cse502","cse503"],"Name":["A.RAMU","B.RAMYA","B.SUBBU"],"Marks":[100,99,95]})
print(df.T)

              0        1        2
roll no  cse501   cse502   cse503
Name     A.RAMU  B.RAMYA  B.SUBBU
Marks       100       99       95

In [27]:
import pandas as pd
def math_fun(x):
  return(x**3)
df= pd.DataFrame({"age":[19,20,21,21,23,25],"Height":[165,163,170,176,175,150],"weight":[70,65,66,59,65,70]})
df
print(df.apply(math_fun))

     age   Height  weight
0   6859  4492125  343000
1   8000  4330747  274625
2   9261  4913000  287496
3   9261  5451776  205379
4  12167  5359375  274625
5  15625  3375000  343000